.DS_Store
.pnpm-store
node_modules
**/node_modules
**/dist
**/coverage
*.log
.vscode
.idea
.turbo

.env
.env.local
.env.*.local
apps/agent-api/.env
apps/agent-api/.env.prod
apps/agent-web/.env
apps/agent-web/.env.prod
apps/agent-api/uploads
